/venv/
/SQLite - SGOMDADOS.png
/DataBase/SGOMDADOS.db
CONFIG.ini
__pycache__/
app/__pycache__/
app/bluePrints/__pycache__/
app/bluePrints/login/__pycache__/
app/controller/__pycache__/
app/model/__pycache__/
.idea/