/venv/
/SQLite - SGOMDADOS.png
/app/SGOMDADOS.db
__pycache__/
app/__pycache__/
app/bluePrints/__pycache__/
app/bluePrints/login/__pycache__/
app/controller/__pycache__/
app/model/__pycache__/
