.content-opcoes{
    display: flex;
    justify-content: space-around;
}

.opcoes{
    display: flex;
    list-style: none;
    position:relative;
    float:left;
}

.opcoes li a{
    display: flex;
    text-decoration: none;
    color: #131418;
    margin: 12px;
    padding: 5px 10px; 
    background: goldenrod;
    border-radius: 7px;
    font-weight: bold;
}

.opcoes li a:hover{
    background: gold;
}

.cadastro-usuario{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

#btnSalvar{
    text-decoration: none;
    background: goldenrod;
    font-weight: bold;
    font-size: larger;
    height: 50px;
    border: 0px;
    margin-top: 20px;
}

#btnSalvar:hover{
    background: gold;
}

.tableFunc{
    margin-left: 50px;
    margin-right: 50px;
}

.tableFuncThead{
    color: #131418;
    background: goldenrod;
    text-align: center;
}

#tableFuncTbody{
    text-align: center;
}