.pesquisa{
    margin: 15px;
}

/* #dataIdFiltroHome{
    position: relative;
    width: 70px;
    height: 29px;

    background: #31333C;
    border-radius: 5px;
    color: #ffffff;

    border: none;
    margin: 7px;
    padding: 5px;
}
#dataIdFiltroHome:focus{
    outline: none;
} */


/* #btn_filtro_home{
    position: relative;
    width: 123px;
    height: 29px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
    background: #31333C;
    border-radius: 5px;
}

#btn_filtro_home:active{
    position: relative;
    width: 120px;
    height: 25px;
} */

#dashboard{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.aguardando-aprovacao{
    position: relative;
    width: 300px;
    height: 200px;

    background: #31333C;
    border-radius: 15px;

    min-width: 300px;
    min-height: 200px;

    margin: 25px;
    display: flex;

    flex-direction: column;

    padding-top: 30px;
    text-align: center;
    color: #FFFFFF;

    cursor: pointer;
}

.contador{
    font-style: normal;
    font-weight: bold;

    font-size: 144px;
    line-height: 169px;
    color: rgba(255, 255, 255, 0.56);
}

.finalizadas{
    position: relative;
    width: 300px;
    height: 200px;

    background: #31333C;
    border-radius: 15px;

    min-width: 300px;
    min-height: 200px;
    margin: 25px;
    display: flex;
    
    flex-direction: column;

    padding-top: 30px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.aguardando-atendimento{
    position: relative;
    width: 300px;
    height: 200px;

    background: #31333C;
    border-radius: 15px;
    
    min-width: 300px;
    min-height: 200px;
    
    margin: 25px;
    display: flex;
    
    flex-direction: column;

    padding-top: 30px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.aguardando-pagamento{
    position: relative;
    width: 300px;
    height: 200px;

    background: #31333C;
    border-radius: 15px;
    
    min-width: 300px;
    min-height: 200px;
    
    margin: 25px;
    display: flex;
    
    flex-direction: column;

    padding-top: 30px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}