body{
    margin: 0;
    padding: 0;
    background-color: #131418;    
    font-family: 'Open Sans', sans-serif;
}


.content-section{
    width: 100vw;
    height: 100vh;
    background: #131418;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content-login{
    width: 400px;
    height: 350px;
    background-color: #1b1d22;

    border-radius: 15px;
    box-shadow: 0 0 1em black;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 250px);
    color: white;
}


.inp-login{
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;

    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;

    color: white;
}
.inp-login:focus{
    outline: none;
}

.img-logo{
    width: 100px;
    height: 100px;
}

.btn-login{
    width: 150px;
    height: 35px;

    border-radius: 10px;
    border: none;
    background-image: url('../img/01411bc2e176dfa67d9299ece0718507.jpg');

    cursor: pointer;
}
.btn-login:hover{
    box-shadow: 0 0 5px white;
}
.btn-login:active{
    width: 147px;
    height: 33px;
}

#msgError{
    margin: 5px;
    color: yellow;
    font-size: 14px;
    font-weight: bold;
}
