.content{
    display: flex;
    flex-direction: column;
}
:disabled {
    background: #1b1b1b;
  }

.content-opcoes-ordemServico{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.opcoes-ordemServico{
    display: flex;
    list-style: none;
    position: relative;
    text-align: center;
}

.opcoes-ordemServico li{
    position: relative;
    width: 90px;
    height: 34px;

    margin-right: 17px;
    background: #31333C;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 5px;
}

.opcoes-ordemServico li a{
    position: relative;
    width: 28px;
    height: 14px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;

    color: #FFFFFF;
    text-decoration: none;
}

.content-cadastro{
    background-color: #363b48;
    cursor: auto;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    height: auto;
    min-height: 78vh;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-size: 20px;
}

.content-cadastro label{
    text-align: left;
}

.content-cadastro input{
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: 0;
    background: transparent;
    color: #FFFFFF;
    margin-left: 10px;
}

.cadastro-part-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 20px;
}

.cadastro-part-2{
    display: flex;
    flex-direction: column;
    min-width: 374px;
}

.cadastro-part-2 .linha{
    justify-content: left;

}

.cadastro-part-2 #problema{
    margin-bottom: 20px;
}

.btn-estado-veiculo{
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    color: #FFFFFF;
    text-decoration: none;
    background: #31333C;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cadastro-part-2 .btn-estado-veiculo{
    margin-bottom: 20px;
}

#orcamento{
    margin-top: 10px;
}

.area-content-btn{
    display: flex;
    justify-content: flex-end;
}

.content_btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    margin: 20px;
    background: #232c3d;
    border: 0;
    color: white;
}
