.content-opcoes-ordemServico{
    display: flex;
    flex-direction: row;
    margin: 14px;
}

.opcoes-ordemServico{
    display: flex;
    list-style: none;
    position: relative;
    text-align: center;
}

.opcoes-ordemServico li{
    position: relative;
    width: 64px;
    height: 28px;

    margin-right: 17px;
    background: #31333C;
    border-radius: 5px;
    text-decoration: none;
}

.opcoes-ordemServico li a{
    position: relative;
    width: 28px;
    height: 14px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
    text-decoration: none;
}

.area-content-btn{
    display: flex;
    justify-content: flex-end;
}

.content_btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    margin: 20px;
    background: #232c3d;
    border: 0;
    color: white;
}


/*
    FEITO NAS COCHAS, SOMENTE PARA TESTE SE FAZ NECESSÁRIO REVISÃO
    Conceito de Abas para a tela de ordemDeServico
*/

.content-nav-tabs{
    display: flex;
    flex-direction: column;
}

.nav_tabs{
    left: 13px;
    
    position: relative;
    width: 98%;

    min-height: 80vh;
}

.nav_tabs ul {
    list-style: none;
}

.nav_tabs ul li{
    float: left;
}

.nav_tabs label{
    width: 100px;
    margin-right: 8px;
    padding-top: 5px;
    height: 30px;
    border-radius: 10px 10px 0 0;
    /*background-color: #333;*/
    /*background-color: #363b48;*/
    background-color: #232c3d;
    display: block;
    text-align: center;
}

.rb_tabs:checked ~ label{
    background-color: #363b48;
    color: yellow;
}

.rb_tabs{
    display:none;
}

.content{
    background-color: #363b48;
    cursor: auto;
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    min-height: 75vh;
}


.content-cadastro{
    /* display: flex;
    flex-direction: column; */
    
}

.content label {
    background-color: #363b48;
    border-radius: 0%;
    display: inline;
    text-align:right;
}

.content input{
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    background: transparent;
    color: #FFFFFF;
}

.rb_tabs:checked ~ .content{
    display: block;
}

.linha{
    display: flex;
    flex-direction: row;
}

#orcamento{
    margin-top: 10px;
}