*{
    margin: 0; 
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color:  #131418;    
    font-family: 'Open Sans', sans-serif;
}

ul{
    padding: 0px;
    margin: 0px;
}




.content-nav{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 1em black;
    min-width: 100vmax;
    

    
}

.usuario{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: transparent;
    display: flex;
    justify-content: center;
    
    margin-top: 7px;
    margin-right: 50px;
    padding-left: 60px;
    cursor: pointer;
}
.menu{
    display: flex;
    list-style: none;
    border: 1px;
    float: right;
    margin: 5px;
}

.menu li{
    position: relative;
    float: left; 
}

.menu li a{
    color: white; 
    text-decoration: none; 
    padding: 5px 10px; 
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.menu li a:hover{
    background: #333;
    color: yellow;
}

.menu-perfil{
    width: 90px;
    height: auto;
    margin-right: 50px;
    list-style:none;
}
.menu-perfil-icon{   
    text-align:center;
}
.controle-menu-perfil{
    display: block;
}
.sub-menu-perfil{
    list-style:none;
    width: 80px;
    margin-top: 20px;
    text-align:center;
    background-color: #22232b;
    display: block;
    padding: 0 10px;
    display: none;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.534);
}
.sub-menu-perfil li a{
    width: 100%;
    text-decoration: none;
    color: white;
}



.section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content_footer{
    display: flex;
    justify-content: end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}