{% extends "template.html"%}

{%block title%}
Funcionário
{%endblock%}


{% block styles%}

<script src="{{url_for('static', filename='js/funcionario.js')}}"></script>
{% endblock %}

{%block section%}

<div class="content-opcoes">
    <ul class="opcoes">
        <li><a href="#">Novo</a></li>
        <li><a href="#">Alterar</a></li>
        <li><a href="#">Excluir</a></li>
    </ul>
</div>


<div>
    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome">

    <label for="username">Username: </label>
    <input type="text" name="username" id="username">

    <label for="senha">Senha: </label>
    <input type="password" name="senha" id="senha">

    <label for="dataA">Data de Admissão: </label>
    <input type="date" name="dataA" id="dataA">

    <label for="cpf">CPF: </label>
    <input type="text" name="cpf" id="cpf">

    <label for="telefone">Telefone: </label>
    <input type="tel" name="telefone" id="telefone">

    <label for="status">Status: </label>
    <input type="checkbox" name="status" checked id="status">

    <label for="tFuncionario">Cargo: </label>
    <select name="tFuncionario" id="tFuncionario">
        <option value="0">Gerente</option>
        <option value="1">Atendente</option>
        <option value="2">Mecânico</option>
    </select>


    <button id="btnSalvar" onclick="salvaFuncionario()">
        Salvar
    </button>




    <table>
        <thead>
            <th>Código</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de Admissão</th>
            <th>Status</th>
        </thead>
        <tbody id="tableFuncTbody">

        </tbody>
    </table>


    <script>
        carregaTable();
    </script>


</div>
{%endblock%}
