{% extends "template.html"%}

{%block title%}
Home
{%endblock%}

{% block styles%}

<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='js/template.js')}}">
{% endblock %}

{%block script%}


{%endblock%}

{%block section%}
<div class="pesquisa">
   <input type="text" name="data-filtro" id="dataIdFiltroHome">
   <button type="submit" id="btn-filtro">Filtro Pesquisa</button>
</div>

<div id="dashboard">
    <div class="aguardando-aprovacao" id="aguardando_aprovacao_dashboard" onclick="chamaModal(this)">
        <span>
            Aguardando Aprovação
        </span>
        <span class="contador" id="cont-aguardando-aprovacao">
            00
        </span>
    </div>
    <div class="finalizadas" id="finalizadas_dashboard" onclick="chamaModal(this)">
        <span>
            Finalizadas
        </span>
        <span class="contador" id="cont-finalizadas">
            00
        </span>
    </div>
    <div class="aguardando-pagamento" id="aguardando_pagamento_dashboard" onclick="chamaModal(this)">
        <span>
            Aguardando Pagamento
        </span>
        <span class="contador" id="cont-aguardando-pagamento">
            00
        </span>
    </div>
    <div class="aguardando-atendimento" id="aguardando_atendimento_dashboard" onclick="chamaModal(this)">
        <span>
            Aguardando Atendimento
        </span>
        <span class="contador" id="cont-aguardandoa-atendimento">
            00
        </span>
    </div>
</div>

{%endblock%}

{%block modalHome%}

<!-- Relatório Home-->


<!-- Aguardando Aprovação -->
<div class="modal fade" id="modal_dashboard">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content complete-modal text-white" style="background-color: #131418;">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Relatório dos Clientes</h4>
          <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            <table class="table table-dark " id="tableBuscaDadosHome" style="margin-top: 15px; cursor: pointer;">
                <thead>
                  <tr>
                    <th scope="col">Placa</th>
                    <th scope="col">Nome do Requerente</th>
                    <th scope="col">CPF do Requerente</th>
                    <th scope="col">Telefone do Requerente</th>
                    <th scope="col">Problema</th>
                    <th scope="col">Valor Total</th>
                  </tr>
                </thead>
                <tbody id="tbodyBuscaDadosHome">
                                  
                </tbody>
              </table>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" id="btnImprimirOSRelatorio" data-bs-dismiss="modal">Imprimir</button>
        </div>
  
      </div>
    </div>
</div>


<!-- Finalizadas -->
<!--
<div class="modal fade" id="modal_dashboard">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" style="max-width: 250px;">
      <div class="modal-content complete-modal text-white" style="background-color: #131418;">
  
        
        <div class="modal-header">
          <h4 class="modal-title">Home</h4>
          <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            <table class="table table-dark " id="tableBuscaDadosHome" style="margin-top: 15px; cursor: pointer;">
                <thead>
                  <tr>
                    <th scope="col">Placa</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                  </tr>
                </thead>
                <tbody id="tbodyBuscaDadosHome">
                                  
                </tbody>
              </table>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" id="btnImprimirOSRelatorio" data-bs-dismiss="modal">Imprimir</button>
        </div>
  
      </div>
    </div>
</div>
-->

<!-- Aguardando Pagamento -->
<!--
<div class="modal fade" id="modal_dashboard">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" style="max-width: 250px;">
      <div class="modal-content complete-modal text-white" style="background-color: #131418;">
  
        
        <div class="modal-header">
          <h4 class="modal-title">Home</h4>
          <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            <table class="table table-dark " id="tableBuscaDadosHome" style="margin-top: 15px; cursor: pointer;">
                <thead>
                  <tr>
                    <th scope="col">Placa</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                  </tr>
                </thead>
                <tbody id="tbodyBuscaDadosHome">
                                  
                </tbody>
              </table>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" id="btnImprimirOSRelatorio" data-bs-dismiss="modal">Imprimir</button>
        </div>
  
      </div>
    </div>
</div>
-->

<!-- Aguardando Atendimento -->
<!--
<div class="modal fade" id="modal_dashboard">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" style="max-width: 250px;">
      <div class="modal-content complete-modal text-white" style="background-color: #131418;">
  
        
        <div class="modal-header">
          <h4 class="modal-title">Home</h4>
          <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            <table class="table table-dark " id="tableBuscaDadosHome" style="margin-top: 15px; cursor: pointer;">
                <thead>
                  <tr>
                    <th scope="col">Placa</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                  </tr>
                </thead>
                <tbody id="tbodyBuscaDadosHome">
                                  
                </tbody>
              </table>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" id="btnImprimirOSRelatorio" data-bs-dismiss="modal">Imprimir</button>
        </div>
  
      </div>
    </div>
</div>
-->
{%endblock%}