<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='img/mecanismo.svg')}}" type="image/icon type">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <title>Login - SGOM</title>

</head>
<body>

    <header class="header">

    </header>

    <section class="content-section">
        <div class="content-login">
            <div class="content-input">
                <img src="{{ url_for('static', filename='img/mecanismo.png')}}" class="img-logo">
            </div>
            <div class="content-input">
                <span style="display: flex; align-items: center" ><img src="{{ url_for('static', filename='img/perfil.svg')}}"> Usuario</span>
                <input type="text" class="inp-login" name="username" id="username">
            </div>
            <div class="content-input">
                <span style="display: flex; align-items: center" ><img src="{{ url_for('static', filename='img/pass.svg')}}"> Senha</span>
                <input type="password" class="inp-login" name="senha" id="senha">
            </div>
            <div style="width: 150px; height: 35px; display: flex; justify-content: center;">
                <button class="btn-login" onclick="login(username.value, senha.value);">
                    Entrar
                </button>
            </div>
            <div style="width: 100%; height: 20px; text-align: center; margin: 10px;">                
                <span id="msgError"><!-- Colocar a mensagem de erro do login --></span>
            </div>
            
        </div>
    </section>

<!--
    O bagulho é louco e o sistema é lento!
-->
</body>
</html>