{% extends "template.html"%}

{%block title%}
Ordem de Serviço
{%endblock%}

{% block styles%}
<!-- <script src="{{url_for('static', filename='js/ordemDeServico.js')}}"></script> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{url_for('static', filename='css/ordemDeServico.css')}}">
{% endblock %}

{%block section%}

<div class="content-opcoes-ordemServico">
    <ul class="opcoes-ordemServico">
        <li><a href="#">Novo</a></li>
        <li><a href="#">Alterar</a></li>
        <li><a href="#">Excluir</a></li>
    </ul>
</div>
<div class="content-nav-tabs">
    <nav class="nav_tabs">
        <ul>
            <li>
                <input type="radio" name="tabs" class="rb_tabs" id="tab1" >
                <label for="tab1"> Cadastro</label>
                <div class="content">
                    <div class="content-cadastro">
                        <button class="btn-registrar-veiculo">Registrar Veículo</button>
                        <label for="problema">Problema: </label>
                        <input type="text" name="problema" id="problema">

                        <label for="cpf">CPF: </label>
                        <input type="text" name="cpf" id="cpf">

                        <label for="nome">Nome: </label>
                        <input type="text" name="nome" id="nome">

                        <label for="telefone">Telefone: </label>
                        <input type="tel" name="telefone" id="telefone">

                        <label for="orcamento">Orçamento: </label>
                        <input type="checkbox" name="orcamento" checked id="orcamento" value="true">
                            
                        <button class="btn-estado-veiculo">Estado do Veículo</button>
                    </div>
                    
                </div>
            </li>
            <li>
                <input type="radio" name="tabs" class="rb_tabs" id="tab2" checked>
                <label for="tab2"> Visualizar</label>
                <div class="content">
                    <input type="" name="tabs" value="Campo1">   
                    <br>            
                    <input type="" name="tabs" value="Campo2">   
                </div>
            </li>
        </ul>
    </nav>
    <div class="area-content-btn">
        <button class="content_btn"> Cancelar</button>
        <button class="content_btn"> Salvar</button>
    </div>
</div>
{%endblock%}

{% block footer %}
    
 {%endblock%}
