<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/funcionario.css')}}">

</head>
<body>
    <header> 
        <nav>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Ordem de Serviço</a></li>
                <li><a href="#">Relatorio </a></li>
                <li><a href="#">Cadastro</a></li>
        </nav>
 </header>

   
    <section>
        {% block section %}

        {%endblock%}
    </section>


    <script src="{{url_for('static', filename='js/funcionario.js')}}"></script>
</body>
</html>