<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%}</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css')}}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>    
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>    
    {% block styles%}
    {% endblock %}

</head>

<body>
    <header>
        <div class="content-nav">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Ordem de Serviço</a></li>
                <li><a href="#">Relatorio </a></li>
                <li><a href="#">Cadastro</a></li>
            </ul>
        </div>
    </header>

    <section>
        {% block section %}

        {%endblock%}
    </section>

    <script src="{{url_for('static', filename='js/funcionario.js')}}"></script>
</body>

</html>